{
    "root_enc_password": "YOUR_ENCRYPTED_ROOT_PASSWORD_HASH",
    "users": [
        {
            "enc_password": "YOUR_ENCRYPTED_USER_PASSWORD_HASH",
            "groups": [],
            "sudo": true,
            "username": "YOUR_USERNAME"
        }
    ]
}